/* global setting */
html {
    font-family: "Frankln Gothic Medium", "Arial Narrow", Arial;
    letter spacing: 5px 
}

/* reset asll element */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    backgrouind-color: #f1f1f1;
}

section {
    background-color: #b5b3b3;
    color: white;
    text-align: center;
    width: 50%;    
    margin: 0px auto;
    padding: 80px 50px;
    box-shadow: 5px 5px 3px wwww.
}

h2 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

form {
    margin: 20px;
}
form.group {
    margin: 40px 0px;
}

input {
    width: 80%
    padding: 15px 0px;
}

input[placeholder]{
    font-size: 18px;
    text-align: center;
}

button {
    width: 80%;
    padding: 15px 0px;
    background: coral;
    color: white;
    border: 0px;
    font-size: 18px;
}

input::placeholder {
    font-size: 10px;
    color: #ccc;
    text-transform: capitalize;
}

input:focus {
    outline；
}

input[placeholder] {
    color: blue;
}